Practica1/Client-ws/src/main/wsdl/ClientService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor.bigws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor.bigws/" name="SoapWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor.bigws/" schemaLocation="Servidor.xsd"/>
</xsd:schema>
</types>
<message name="addNote">
<part name="parameters" element="tns:addNote"/>
</message>
<message name="addNoteResponse">
<part name="parameters" element="tns:addNoteResponse"/>
</message>
<message name="listaNotas">
<part name="parameters" element="tns:listaNotas"/>
</message>
<message name="listaNotasResponse">
<part name="parameters" element="tns:listaNotasResponse"/>
</message>
<message name="deleteNote">
<part name="parameters" element="tns:deleteNote"/>
</message>
<message name="deleteNoteResponse">
<part name="parameters" element="tns:deleteNoteResponse"/>
</message>
<message name="showAll">
<part name="parameters" element="tns:showAll"/>
</message>
<message name="showAllResponse">
<part name="parameters" element="tns:showAllResponse"/>
</message>
<message name="listaNotasFilter">
<part name="parameters" element="tns:listaNotasFilter"/>
</message>
<message name="listaNotasFilterResponse">
<part name="parameters" element="tns:listaNotasFilterResponse"/>
</message>
<portType name="SoapWebService">
<operation name="addNote">
<input wsam:Action="http://Servidor.bigws/SoapWebService/addNoteRequest" message="tns:addNote"/>
<output wsam:Action="http://Servidor.bigws/SoapWebService/addNoteResponse" message="tns:addNoteResponse"/>
</operation>
<operation name="listaNotas">
<input wsam:Action="http://Servidor.bigws/SoapWebService/listaNotasRequest" message="tns:listaNotas"/>
<output wsam:Action="http://Servidor.bigws/SoapWebService/listaNotasResponse" message="tns:listaNotasResponse"/>
</operation>
<operation name="deleteNote">
<input wsam:Action="http://Servidor.bigws/SoapWebService/deleteNoteRequest" message="tns:deleteNote"/>
<output wsam:Action="http://Servidor.bigws/SoapWebService/deleteNoteResponse" message="tns:deleteNoteResponse"/>
</operation>
<operation name="showAll">
<input wsam:Action="http://Servidor.bigws/SoapWebService/showAllRequest" message="tns:showAll"/>
<output wsam:Action="http://Servidor.bigws/SoapWebService/showAllResponse" message="tns:showAllResponse"/>
</operation>
<operation name="listaNotasFilter">
<input wsam:Action="http://Servidor.bigws/SoapWebService/listaNotasFilterRequest" message="tns:listaNotasFilter"/>
<output wsam:Action="http://Servidor.bigws/SoapWebService/listaNotasFilterResponse" message="tns:listaNotasFilterResponse"/>
</operation>
</portType>
<binding name="SoapWebServicePortBinding" type="tns:SoapWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaNotasFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapWebServiceService">
<port name="SoapWebServicePort" binding="tns:SoapWebServicePortBinding">
<soap:address location="http://localhost:8083/Servidor"/>
</port>
</service>
</definitions>